@font-face {
    font-family: 'Gotham Pro Black';
    src: url('../fonts/GothamPro/GothamPro-Black.eot');
    src: url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Corsa Grotesk';
    src: local('Corsa Grotesk Regular'), local('Corsa-Grotesk-Regular'),
        url('../fonts/CorsaGrotesk/CorsaGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/CorsaGrotesk/CorsaGrotesk-Regular.woff') format('woff'),
        url('../fonts/CorsaGrotesk/CorsaGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }