*
 margin: 0
 padding: 0
 box-sizing: border-box 
 text-decoration: none
 list-style: none 
 outline: none
body 
 font-family: 'Corsa Grotesk', sans-serif
img 
 max-width: 100%
.section
 background-image: url('/src/img/bg-1.jpg')
 background-position: 0 0
 background-repeat: repeat
 padding-top: 100px 
.title
 font-size: 36px 
 font-family: 'Gotham Pro',sans-serif
 font-weight: 900
 text-align: center
 color: $text-color
 margin-bottom: 90px
.container
 width: 1170px
 margin: auto 
.button
 border: none  
 background-color: $main-color
 font-family: inherit
 font-size: 16px
 text-transform: uppercase
 color: #fff
 padding-top: 11px 
 padding-bottom: 12px 
 padding-left: 20px 
 padding-right: 20px
 border-radius: 10px 
 box-shadow: 0px 0px 7px 0px rgba(255, 0, 0, 0.5)
 cursor: pointer
 &:hover
  background-color: lighten($main-color, 7%)
 &:active
  background-color: lighten($main-color, 15%)
 &:focus
  outline: none

@media screen and (max-width: 1200px)
 .container
  width: 94%

@media screen and (max-width: 960px)
 .button 
  font-size: 12px!important
 .title
  font-size: 24px
  margin-bottom: 40px
 .section
  padding-top: 45px 

@media screen and (min-width: 961px)
 .menu__btn
  display: none

@media screen and (max-width: 520px)
 .section
  padding-top: 45px 
 .title
  margin-bottom: 30px




  
  
 
  

