.footer
 padding-top: 30px 
 padding-bottom: 20px 
.footer__block
 display: flex
.footer__list
 margin-right: 7%
.footer-list
 margin-right: 13%
.footer__item
 color: $text-color
 margin-bottom: 20px
 display: block
.footer-item
 margin-bottom: 62px 
.promo
 opacity: .73
.promo-two
@media screen and (max-width: 1200px)
 .footer__list
  font-size: 14px 
@media screen and (max-width: 960px)
 .footer__list
  font-size: 12px 
  margin-right: 3%
 .footer-item
  margin-bottom: 57px 
 .footer__tel
  padding-left: 0!important
  margin-left: 10px 
@media  screen and (max-width: 795px)
 .footer__contacts
  display: none
 .footer__list
  margin-right: 10%
@media screen and (max-width: 520px)
 .footer__block
  justify-content: space-between
 .footer__list
  margin-right: 0 
  width: 50%

 