.main
 padding-top: 30px
 padding-bottom: 20px
 background-image: url('../img/bg.jpg')
 background-position: 0 0
 background-repeat: repeat
.menu
 margin-bottom: 125px 
.menu__list
 list-style: none 
 display: flex
 justify-content: space-between 
 text-transform: uppercase
.menu__item
 color: $text-color
 position: relative
 &:after
  content: ''
  position: absolute
  bottom: -5px 
  width: 100% 
  height: 2px 
  background-color: $main-color 
  opacity: 0
  transition: 0.15s
 &:hover:after
  opacity: 1
.main-wrap
 display: flex
 justify-content: space-between
 text-align: center
.main-wrap__pump
 width: 32%
.main-wrap__text
 text-align: center
 width: 33%
.main__title
 font-size: 48px 
 font-family: 'Gotham Pro Black'
 color: $text-color
 margin-bottom: 40px
.main__subtitle
 font-size: 24px 
 margin-bottom: 55px
.main-wrap__mixer
 width: 29%

@media screen and (max-width: 1200px)
 .menu__list
  font-size: 12px

@media screen and (max-width: 960px)
 .main
  padding-top: 50px
  padding-bottom: 65px
 .menu
  display: none
 .main__title
  font-size: 24px 
  margin-bottom: 20px
 .main__subtitle
  font-size: 14px 
  margin-bottom: 20px

@media screen and (max-width: 520px)
 .main
  padding-top: 30px
  padding-bottom: 60px
 .main-wrap__pump
  width: 55%
 .main-wrap__text
  width: 45%
 .main-wrap__mixer
  display: none
 
@media screen and (max-width: 375px)
 .main-wrap
  flex-direction: column
 .main-wrap__pump
  width: 50%
  margin: auto
 .main-wrap__text
  width: 100%

  